.change {
  width: 30px;
  border: 2px solid blue;
  padding: 10px;
  margin: 4px;
}

.border {
  width: 200px;
  border: 2px solid blue;
  padding: 10px;
  margin: 4px;
  text-align: center;
}

.logoImg{
  width: 200px;
}

.navIcon{
  background-color:blue;
  height:15px;
  width:15px;
  font-size:10px;
  z-index:1111111111115656;
  color:white;
  position: absolute;
}
